<div class="chat-layout">
  <h3>チャット画面</h3>
  <div class="chat-menu">
    <%= "ようこそ" %>
    <%= link_to "#{current_user.name}さん", edit_user_path(current_user), class: "links" %><br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "links" %><br>
    <br>
  </div>
  <div class="attention">
    <p><span>※下のボタンは荒らし対策のために設置した機能です。ユーザー、メッセージの全てのデータが削除されます。</span></p>
    <p><%= button_to "すべてのデータを削除", destroy_all_users_path, method: :delete %></p>
    <br>
  </div>
  <div class="submit">
    <div class="submit-field">
      <p><%= "発言欄" %></p>
      <p>
      <%= form_with model: @message do |f| %>
        <%= f.text_field :text, class: "text-field" %>
        <%= f.submit '送信' %>
      <% end %>
      </p>
    </div>
  </div>
  <div class="member">
  チャットメンバー : 
    <% @users.each do |user| %>
    <span><%= "#{user.name}さん" %></span>
    <% end %>
  </div>
  <br>
  <div id='messages' class="chat-space">
    <% @messages.reverse_each do |message| %>
      <div class="chat-message">
        <p><%= message.text %></p>
        <p><%= " - " + message.user.name + "さん"%></p>
      </div>
    <% end %>
  </div>
</div>