<h2>Edit Account</h2>
  <h5>アカウントの編集</h5>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    <%= link_to "戻る", :back, class: 'btn'%>
  <%= form_with model: current_user, local: true do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name, autofocus: true%>
    <%= f.label :email%>
    <%= f.email_field :email%>
    <%= f.submit "Update", class: 'btn'%>
  <% end %>
