<div class="format">
  <h2>Edit Account</h2>
    <h5>アカウントの編集</h5>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'links'%>
      <%= link_to "戻る", :back, class: 'links'%>
    <%= form_with model: current_user, local: true do |f|%>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.submit "Update", class: 'btn'%>
      </div>
    <% end %>
</div>